* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    font-size: 14px;
    color: #333;
    line-height: 1.42857143;
    background: #f1f4f7;
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
@font-face {font-family: 'fa';
    src: url('../icon/fontawesome-webfont.eot'); /* IE9*/
    src: url('../icon/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon/fontawesome-webfont.woff') format('woff'), /* chrome、firefox */
    url('../icon/fontawesome-webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../icon/fontawesome-webfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    width: auto;
    height: auto;
    min-height: 50px;
    background: #222;
}
.head a {
    color: #fff;
}
.head_title {
    position: absolute;
    left: 0;
    font-size: 16px;
    padding: 14px 15px;
}
.head_menue {
    position: absolute;
    /*top: 11px;*/
    right: 0;
    display: none;
    height: 100%;
    padding: 10px 15px 0;
}
.head_menue i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 24px;
    height: 2px;
    color: #fff;
    font: 700 14px/.4 Helvetica;
    background: #fff;
}
.head_menue i::before,
.head_menue i::after {
    content: '';
    width: 24px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.head_menue i::before {
    top: -8px;
}
.head_menue i::after {
    bottom: -8px;
}
.slidebar {
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    z-index: 1000;
    width: 260px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid #eee;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, .05);
}
.slidebar a{
    color: #222;
    display: block;
    position: relative;
}
.input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    outline: none;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.slidebar form {
    padding: 20px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.docx-sug {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: none;
}
.nav .sub_nav {
    display: none;
}
.nav .sub_nav.in {
    display: block;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 fa;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.slidebar .arrow {
    position: absolute;
    right: 16px;
    top: 12px;
}
.nav li a {
    padding: 12px 15px;
}
.sub_nav li a {
    text-indent: 3em;
}
.sub_nav li .sub_nav li a {
    text-indent: 5em;
}
.sub_nav li .sub_nav li .sub_nav li a {
    text-indent: 7em;
}
.sub_nav li .sub_nav li .sub_nav li .sub_nav li a {
    text-indent: 9em;
}
.sub_nav li .sub_nav li .sub_nav li .sub_nav li .sub_nav li a {
    text-indent: 11em;
}
.nav li a:focus,
.nav li a:hover,
.nav li a.focus {
    background: #eee;
}
.content {
    padding: 65px 0 0 0;
    margin-left: 260px;
}
.content_box {
    padding: 0 15px 15px;
    opacity: .3;
    filter:alpha(opacity=30);
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
}
.content_transition {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.content .active {
    opacity: 1;
    filter:alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.content_wrap {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.loading {
    position: fixed;
    left: 42%;
    right: 58%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 120px;
    height: 120px;
    display: none;
}
.loading img {
    width: 100%;
}
.docx_marked {
    padding: 10px 40px 0;
    overflow: hidden;
}
.markdown-body img {
    width: 375px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #ccc;
    margin-left: 30px;
}
/* 768是ipad像素宽度 */
@media (max-width: 768px) {
    .slidebar {
        opacity: 0;
        left: -260px;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slidebar_active {
        opacity: 1;
        -webkit-transform: translate3d(260px, 0, 0);
        -moz-transform: translate3d(260px, 0, 0);
        -ms-transform: translate3d(260px, 0, 0);
        -o-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
    }
    .sub_nav li a {
        text-indent: 1.5em;
    }
    .sub_nav li .sub_nav li a {
        text-indent: 3em;
    }
    .sub_nav li .sub_nav li .sub_nav li a {
        text-indent: 4.5em;
    }
    .sub_nav li .sub_nav li .sub_nav li .sub_nav li a {
        text-indent: 6em;
    }
    .sub_nav li .sub_nav li .sub_nav li .sub_nav li .sub_nav li a {
        text-indent: 7.5em;
    }
    .content {
        margin-left: 0;
    }
    .head_menue {
        display: block;
    }
    .loading {
        left: 0;
        right: 0;
    }
}
