<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{config.title}}</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/markdown.css">
    <link rel="stylesheet" type="text/css" href="css/metisMenu.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="head">
                <a class="head_title" href="{{config.link}}">{{config.name}}</a>
            </div>
        </div>
        <div class="slidebar">
            <form role="search" action="javascript:void(0);">
                <input type="text" class="input" placeholder="Search" name="key" autocomplete="off">
                <div class="docx-sug" style="display: none;">
                    <ul class="docx-sugul">
                        <li class="docx-fullse">
                            <a href="#">{{config.search}}<span class="hljs-string"></span></a>
                        </li>
                    </ul>
                </div>
            </form>
            <ul class="nav metismenu"></ul>
        </div>
        <div class="content">
            <div class="content_box content_transition">
                <div class="content_wrap">
                    <div class="markdown-body">
                        <div class="docx_marked"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script/jquery.js"></script>
    <script src="marked/lib/marked.js"></script>
    <script>
        $(function () {
            var $container = $('.container');
            var $left_nav = $container.find('.nav');
            var $content_box = $container.find('.content_box');
            var $content_marked = $container.find('.docx_marked');

            var data = {{#dirData}};    // 左侧目录树数据
            var defaultUrl = '{{config.index}}';   // 默认显示文件
            var location = window.location.origin;
            console.log(window.location);

            var setHtml = function (data) {
                var html = '';

                data.forEach(function (res) {
                    html += '<li>';
                    html += '<a href="' + (res.link ? res.link : '') + '"' + (res.link ? '' : ' class="nav_title"') + '>';
                    html += res.title + (res.link ? '' : '<span class="fa arrow"></span>');
                    html += '</a>';
                    if (res.child) {
                        html += '<ul class="sub_nav">';
                        html += setHtml(res.child);
                        html += '</ul>';
                    }
                    html += '</li>';
                });

                return html;
            };
            var htmllist = setHtml(data);
            $left_nav.html(htmllist);

            var setMd = function (name) {
                var defer = $.Deferred();
                if (xhr) {
                    xhr.abort();
                    xhr = null;
                }
                console.log(name);
                var xhr = $.ajax({
                    url: 'api/get',
                    data: {
                        name: name
                    },
                    success: function (res) {
                        defer.resolve(res.data);
                    },
                    error: function () {
                        defer.reject();
                    }
                });
                return defer.promise();
            };

            var setmd = function (file) {
                $.when(setMd(file)).then(function (res) {
                    window.scrollTo(0,0);
                    if ($content_box.hasClass('active')) {
                        $content_box.removeClass('content_transition');
                        $content_box.removeClass('active');
                    }
                    setTimeout(function () {
                        $content_box.addClass('content_transition');
                        $content_box.addClass('active');
                    }, 20);
                    $content_marked.html(res);
                }, function () {
                    defer.reject();
                });
            }

            $left_nav.on('click', 'a', function (event) {
                var $this = $(this);
                if ($this.hasClass('nav_title')) {
                    if ($this.next().hasClass('in')) {
                        $(this).removeClass('active').next().removeClass('in');
                    }
                    else {
                        $this.parent().siblings('li').find('.active').removeClass('active');
                        $this.parent().siblings('li').find('.in').removeClass('in');
                        $(this).addClass('active').next().addClass('in');
                    }
                }
                else {
                    var link = $this.attr('href');
                    setmd(link);

                    /*var url = location + link;
                    var loca = window.location.href;
                    window.history.pushState(loca, 'url', url);*/
                }

                event.stopPropagation();
                event.preventDefault();
            });

            /*$(window).on('popstate', function (e) {
                if (history.state) {
                    setmd(window.location.pathname);
                }
            });*/

            setmd(defaultUrl);
        });
    </script>
</body>
</html>
