<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{{config.title}}</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/markdown.css">
    <link rel="stylesheet" type="text/css" href="css/metisMenu.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="head">
                <a class="head_title" href="{{config.link}}">{{config.name}}</a>
                <div class="head_menue">
                    <div class="head_menue_box"><i></i></div>
                </div>
            </div>
        </div>
        <div class="slidebar">
            <form role="search" action="javascript:void(0);">
                <input type="text" class="input" placeholder="Search" name="key" autocomplete="off">
                <div class="docx-sug" style="display: none;">
                    <ul class="docx-sugul">
                        <li class="docx-fullse">
                            <a href="#">{{config.search}}<span class="hljs-string"></span></a>
                        </li>
                    </ul>
                </div>
            </form>
            <ul class="nav metismenu"></ul>
        </div>
        <div class="content">
            <div class="content_box content_transition">
                <div class="content_wrap">
                    <div class="markdown-body">
                        <div class="docx_marked"></div>
                    </div>
                    <div class="loading"><img src="images/loading.gif"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="script/jquery.js"></script>
    <script>
        var data = {{#dirData}};    // 左侧目录树数据
        var defaultUrl = '{{config.index}}';   // 默认显示文件
    </script>
    <script src="script/index.js"></script>
</body>
</html>
